.Jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97vw;
    margin: 10px auto;
    /* background-color: rgba(255, 255, 255, 0.712); */
    background-color: rgb(0, 0, 0);
    height: 200px;
    border-radius: 10px;
}

.Jumbo h1 {
    font-size: 38px;
    color: #e6d4f5;
    margin: 2px 2px;
    text-shadow: 10px 10px 60px rgb(105, 13, 180),
    -10px 10px 60px rgb(105, 13, 180),
    -10px -10px 60px rgb(105, 13, 180),
    10px -10px 60px rgb(105, 13, 180);
}

.Jumbo h6 {
    word-wrap: wrap;
    color: #e6d4f5;
    font-size: 14px;
    margin-left: 1rem;
}